{% load crispy_forms_tags %}

<div class="modal fade" id="billModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form class="form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Your Bill</h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {{ bill_form|crispy }}
      </div>
  </form>
</div>

